
<button class="btn btn-primary" type="submit" routerLink="/player">Go back</button>


<div class="container-xl mt-5 mb-3">
  <div class="row" >
   
      <div class="col-md-4">
          <div class="card p-3 mb-2">
              <div class="d-flex justify-content-between">
                  <div class="d-flex flex-row align-items-center">
                      <div class="icon"> <i class="bx bxl-mailchimp">Hi</i> </div>
                      <div class="ms-2 c-details">
                          <h6 class="mb-0"></h6> <span>{{player.team}}</span>
                      </div>
                  </div>
                  <div class="badge"> <span>Active</span> </div>
              </div>
              <div class="mt-5">
                  <h3 class="heading">{{player.name}}<br>{{player.age}}</h3>
                  <div class="mt-5">
                     
                      <div class="mb-2"> <span class="text1">No of Matches Played -<span class="text2"></span>{{player.no_of_matches}}</span> </div>
            </div>
       </div>
    </div>
  </div> 

